@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700&f[]=general-sans@500,600,700&f[]=sentient@700&f[]=outfit@500,600,700&f[]=comico@400&f[]=clash-grotesk@700&display=swap");

:root {
    --background: #121212;
    --color: white;
    --faded-gray: #EEF2F8;
    --primary-green: #6BD968;
    --primary-blue: #3992FF;
    --dark-shade : #1D1D1D;
    --bright-shade: #262626;
    /* fonts  */
    --font-satoshi: 'Satoshi', sans-serif;
    --font-sans: 'General Sans', sans-serif;
    --font-sentiet: 'Sentient', serif;
    --font-outfit: 'Outfit', sans-serif;
    --font-comic: 'Comico', cursive;
    --font-grostek: 'Clash Grotesk', sans-serif;
}

 body {
    background-color: var(--background)!important ;
    color: var(--color) !important ;
}